{
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "extends": [
    "react-app",
    "./node_modules/react-redux-typescript-scripts/eslint.js",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/@typescript-eslint"
  ]
}
